# Source: stockit-backend-chart/templates/spring-deployment.yaml (<- 이제 Spring Deployment가 되어야 함)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "stockit-backend-chart.fullname" . }}-{{ .Values.backend.name }}
  labels:
    {{- include "stockit-backend-chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ .Values.backend.name }} # spring-backend
spec:
  # HPA 사용 여부에 따라 replicas는 1 또는 .Values.autoscaling.minReplicas로 설정
  replicas: 1
  selector:
    matchLabels:
      {{- include "stockit-backend-chart.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ .Values.backend.name }}
  template:
    metadata:
      labels:
        {{- include "stockit-backend-chart.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: {{ .Values.backend.name }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
    spec:
      containers:
        - name: {{ .Values.backend.name }}
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.backend.service.port }}

          # 환경 변수 설정 (DB, Redis 연결 정보 등)
          envFrom:
            - configMapRef:
                name: {{ include "stockit-backend-chart.fullname" . }}-app-configmap
          env:
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "stockit-backend-chart.fullname" . }}-db-secret
                  key: POSTGRES_PASSWORD
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  {{- with (lookup "v1" "Secret" "default" "stockit-secrets") }}
                  name: {{ .metadata.name }}
                  {{- else }}
                  name: stockit-secrets
                  {{- end }}
                  key: JWT_SECRET

            # Spring Profile 설정 (values.yaml의 global.springProfile 참조)
            - name: SPRING_PROFILES_ACTIVE
              value: {{ .Values.global.springProfile }}

          # 헬스 체크 설정 (values.yaml의 probe 설정 참조)
          readinessProbe:
            httpGet:
              path: {{ .Values.backend.probe.path }} # 예: /actuator/health
              port: {{ .Values.backend.service.port }}
            initialDelaySeconds: {{ .Values.backend.probe.initialDelaySeconds }}
            periodSeconds: {{ .Values.backend.probe.periodSeconds }}