spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: ${POSTGRES_URL:jdbc:postgresql://db:5432/database}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        highlight_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect