# Grafana 영구 볼륨 설정
persistence:
  enabled: true
  type: pvc
  storageClassName: standard-rwo
  accessModes:
    - ReadWriteOnce
  size: 10Gi
  finalizers:
    - kubernetes.io/pvc-protection

# 대시보드 자동 로드 설정
dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: "default"
        orgId: 1
        folder: "StockIt"
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default

dashboardsConfigMaps:
  default: "grafana-dashboard-stockit"

# 기존 설정 유지
adminPassword: kuiY380UmbE3qpV8Pz6hSwDE0ERDpqngESNf1fjq
