entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
  dashboard:
    address: ":8088"

api:
  dashboard: true
  insecure: false # 배포용으로 인증 활성화

log:
  level: INFO

accessLog: {}

providers:
  docker:
    exposedByDefault: false
    network: backend # spring-app 컨테이너가 연결된 Docker 네트워크 이름
    endpoint: "unix:///var/run/docker.sock"
  file:
    filename: "/etc/traefik/dynamic_conf.yml" # 컨테이너 내부 경로
    watch: true # 파일 변경 감지

certificatesResolvers:
  letsencrypt:
    acme:
      email: ymkim2353@gmail.com # 실제 사용하는 이메일 주소 권장
      storage: /etc/traefik/letsencrypt/acme.json # acme 인증서 저장 경로
      httpChallenge:
        entryPoint: web # HTTP 챌린지는 'web'(80) 엔트리포인트 사용
      # 프로덕션 환경 권장
      caServer: "https://acme-v02.api.letsencrypt.org/directory"